@import './base.css';
@import 'bootstrap';
@import 'style';
:root {
    --main-color: #299f69;
    --hover-color: #89deb7;
    --background-color: #42b9aa;
    --background-hover: #9ca3af0d;
    --button-hover: #03ad60;
    --opacity: .65;
    --main-color-aplha : #bceef2;
    --input-color: #2c3e50;
    --border-color: #bcf7dc;
}
.form-group {
    margin-bottom: 15px;
}
.form-label {
    z-index: 10;
    margin: 0px 20px -11px;
    background-image: linear-gradient(to bottom, white 80%, transparent 20%);
    width: fit-content;
    padding: 0px 5px;
    height: 25px;
}
.form-control {
    border: 1px solid var(--border-color);
    height: 45px;
    border-radius: 4px;
    padding: 6px 20px;
    outline: none;
}
textarea.form-control {
    height: auto;
}
.input-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--background-color);
    transition: width 0.4s ease, left 0.4s ease;
}
.form-control:focus {
    border-color: var(--border-color);
    box-shadow: none;
}
.form-control:focus + .input-border {
    width: 100%;
    left: 0;
}
.form-control.mendatory{
    border-left: 2px solid #ff0000;
}
.form-control.mendatory-not-valid {
    border: 2px solid #ff0000;
}
.form-button {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
    transition: .3s ease-in-out;
}
.form-button:hover {
    background-color: var(--button-hover) !important;
}